.inp {
    margin: 20px;
    padding: 15px;
    background-color: burlywood;
    border-radius: 15px;
    width: 60%;
    padding-left: 19%;
    outline: none;
    font-size: large;
}

.editinp {
    margin: 20px;
    padding: 15px;
    background-color: burlywood;
    border-radius: 15px;
    width: 40%;
    padding-left: 10%;
    outline: none;
    font-size: large;
}

.btn {
    padding: 18px;
    width: 100px;
    border-radius: 14%;
    cursor: pointer;
}